@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #1d3b42;
}

#titulo-projeto {
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    text-align: center;
    color: #e8ebef;
}

#carrosel-imagens {
    margin: 0 auto;
    width: 1200px;
    height: 500px;
    overflow: hidden;
}



.servicos {
    align-items: center;
}

.card{
    margin-left: 3%;
    justify-content: flex-start;
}

#buttons {
    text-align: center; 
}
